.mainNav{
    list-style-type: none;
}

.regalarte-nav-logo{
    width: 9rem;
    object-fit: contain;
}

.pink-regalarte{
    color: #C11B53;
}

.bg-pink-regalarte{
    background-color: #C11B53;
}

.icon-shadow:hover{
    background-color: #ff4a87;
    box-shadow: #C11B53 0px 5px 15px;
}

.main-slideshow{
    width: 100vw;
    height: 15rem;
}

.main-slideshow img{
    width: 1rem;
    height: 15rem;
    object-fit: contain;
}

.home-card{
    width: 18rem;
}